@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:gothic;
    src:url('./fonts/DidactGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family:gothic1;
    src:url('./fonts/CenturyGothic.ttf') format('truetype');
}
@font-face {
    font-family:franklin;
    src:url('./fonts/franklin-gothic-book.ttf') format('truetype');
}
@font-face {
    font-family:questrial;
    src:url('./fonts/Questrial-Regular.ttf');
}

body {
    @apply ltr:text-left rtl:text-right leading-10;
}

.dir-img {
    @apply ltr:scale-x-100 rtl:-scale-x-100;
}

.preview-item {
    @apply hover:bg-warning hover:border hover:border-warning rounded-md cursor-pointer;
}
.preview-item img {
    @apply hover:opacity-50 cursor-pointer;
}
.row {
    @apply mb-8;
}
.col .col-content {
    @apply gap-y-2 h-full flex flex-col w-full text-justify leading-8;
}

.para p:not(:last-child){
    @apply mb-5;
}

.list {
    @apply my-2;
}

ol.list li{
    @apply list-decimal list-inside px-0;
}

ul.list li{
    @apply list-decimal list-outside px-0;
}

h2{
    @apply text-2xl;
}

h3{
    @apply text-xl;
}

.card>div{
    @apply shadow-md p-3 w-full;
}
.card .heading {
    @apply font-bold text-center text-xl;
}
.card .para {
    @apply text-center leading-7;
}

.card.mini {
    @apply max-w-36;
}
.card.base {
    @apply max-w-72;
}
.card.big {
    @apply max-w-100;
}
.rounded-images img {
    @apply rounded-full w-52 h-52 border border-gray p-2;
}


.progress-bar{
    width:200%;


}
.progress-bar div {
    width:100%;
    background: repeating-linear-gradient(to right,#872850 0%,#e964a0 50%,#872850 100%);
    height: 3px;
    position:fixed;
    top:0;
    left:0;
    z-index: 50;
    animation-name: progressAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;

}
@keyframes progressAnimation {
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}
}
.big-box {
    @apply my-24 flex flex-row justify-center items-center;
}
.big-box .col-content{
    @apply flex flex-col items-center justify-center gap-y-4;
}
.big-box .col-content .heading{
    @apply text-4xl mb-4
}
.arrival-row .col {
    @apply  p-6;
}
.overseas-col .list {
    @apply p-6;
}
.video-col .col-content {
    @apply flex items-center ;
}
.list-class  {
    @apply p-4 my-4;
}
.neonate-row {
    @apply mt-16
}
.neonate-col .heading{
    @apply text-4xl ;
}
.fertility-row{
    @apply justify-center items-center;
}
.card-row{
    @apply border border-gray  shadow-lg my-6;
}
.card-row .col {
    @apply p-4;
}

.card-row .col-content{
    @apply p-4
}


.insurance-row{
    @apply my-16;
}


.card-row .list{
    @apply p-4;
}
.big-video{
    @apply w-1/3;
}
.big-image{
    @apply w-1/3;
}
.cover-image .col-content{
    @apply flex flex-col items-center;
}
.cover-image .img{
    @apply w-2/3 ;
}
.icon-image .img{
    @apply w-20;
}
.icon-image .col-content{
    @apply flex flex-col items-center;
}
.page-content h3{
 @apply text-3xl;

    @apply text-3xl;
}
.content-justify {
    @apply text-justify;
}
.doc-image {
    @apply w-1/4  p-2 ;

}
.doc-image .col-content {
    @apply border border-gray  p-2 h-full;
}
.doc-image .img{
    @apply flex flex-col justify-center items-center;
}
.doc-image  img{
    @apply   border border-gray;
}
.center-align {
    @apply text-center  ;
}
