@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:gothic;
    src:url('./fonts/DidactGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family:gothic1;
    src:url('./fonts/CenturyGothic.ttf') format('truetype');
}
@font-face {
    font-family:franklin;
    src:url('./fonts/franklin-gothic-book.ttf') format('truetype');
}
@font-face {
    font-family:questrial;
    src:url('./fonts/Questrial-Regular.ttf');
}

.dir-img {
    @apply ltr:scale-x-100 rtl:-scale-x-100;
}

.preview-item {
    @apply hover:bg-warning hover:border hover:border-warning rounded-md cursor-pointer;
}
.preview-item img {
    @apply hover:opacity-50 cursor-pointer;
}
.row {
    @apply mb-4;
}
.col .col-content {
    @apply gap-y-2 h-full flex flex-col w-full text-justify;
}

.para p:not(:last-child){
    @apply mb-5;
}

.list {
    @apply my-2;
}

ol.list li{
    @apply list-decimal list-inside px-0;
}

ul.list li{
    @apply list-decimal list-outside px-0;
}

h2{
    @apply text-2xl;
}

h3{
    @apply text-xl;
}

.card>div{
    @apply shadow-md p-3 w-full;
}
.card .heading {
    @apply font-bold text-center text-xl;
}
.card .para {
    @apply text-center leading-7;
}

.card.mini {
    @apply max-w-36;
}
.card.base {
    @apply max-w-72;
}
.card.big {
    @apply max-w-100;
}
